name: dxgb_bench

on: [push]

permissions:
  contents: read # to fetch code (actions/checkout)

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Format and Lint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: prefix-dev/setup-pixi@v0.9.4
      with:
        pixi-version: v0.42.0
        run-install: false
    - name: Run lint
      run: |
        pixi exec --spec black --spec isort -- black --check .
        pixi exec --spec black --spec isort -- isort --profile=black --check .

  tests:
    name: Run basic tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: System dependencies
      run: |
        sudo apt install numactl -y
    - uses: prefix-dev/setup-pixi@v0.9.4
      with:
        pixi-version: v0.42.0
        cache: true
        cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
    - name: Build dxgb_bench
      shell: pixi run bash -e {0}
      run: |
        mkdir build
        cd build
        cmake -GNinja -DCMAKE_BUILD_TYPE=RelWithDebInfo -DCMAKE_CUDA_ARCHITECTURES=all ../dxgb_bench
        ninja
        cd ..
        pip install -e . --no-build-isolation --no-deps
        dxgb-bench --version
    - name: Test
      shell: pixi run bash -e {0}
      run: |
        pytest -s -v ./tests/*.py
